@font-face {
	font-family: 'Droid Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Droid Sans'), local('DroidSans'), url(font/s-BiyweUPV0v-yRb-cjciBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
html, body {
	height: 100%; }

body {
	color: #C5C5C5;
	background: #151515;
	line-height: 1;
	position: relative;
	cursor: default;
	word-break: break-word; }

.text-cross {
	text-decoration: line-through; }

.text-left {
	text-align: left; }

.text-capital {
	text-transform: capitalize; }

.text-upper {
	text-transform: uppercase; }

.text-lower{
	text-transform: lowercase; }

.text-under {
	text-decoration: underline; }

.top-hint {
	position: relative;
	float: right;
	background-color: #829e2d;
	padding: 9px 10px;
	color: white;
	font-size: 14px;
	-webkit-animation-name: bounceInRight;
	-webkit-animation-duration: 1s;
	-moz-animation-name: bounceInRight;
	-moz-animation-duration: 1s;
	animation-name: bounceInRight;
	animation-duration: 1s; }

/* -------------------------- */
/* LOADER                     */
#progressbox {
	height: 0.5625rem;
	margin-top: -22px; }


/* -------------------------- */
/* TOPBAR                     */
.top-bar,
.top-bar-container,
.top-bar-container .top-bar ul.right li a,
.top-bar-section li:not(.has-form) a:not(.button) {
	background: #000000; }
.top-bar-container, .top-bar {
	height: 137px;
	line-height: 137px;}
	.top-bar-section ul.right {
		font-size: 16px;
		margin-top: 92px; }


/* -------------------------- */
/* BREADCRUMBS                */
.bread-crumb {
	background: none;
	color: #999;
	border-top: 1px solid #515151;
	border-bottom: 1px solid #515151;
	border-right: none;
	border-left:  none;
	padding: 12px 0;
	margin-top: 25px; }
	.breadcrumbs > *:before,
	.bread-crumb > *::before {
		content: url(../img/icons/icon_arrow_right_white2.png) top;
		color: #aaaaaa;
		margin: 0 0.75rem;
		position: relative;
		top: 1px; }
	.bread-crumb .no-arrow:before {
		content: ""; margin-right: 0px; }
		.bread-crumb a { 
			color: #A5C73E; }
		.bread-crumb li.current a,
		.bread-crumb a.current,
		.bread-crumb span { color: #999; }
		.bread-crumb a:hover {
			text-decoration: underline; }
		.bread-crumb a.current:hover,
		.bread-crumb li.current:hover a {
			text-decoration: none; }


/* -------------------------- */
/* HOME BOX CONTAINER         */
.homebox-top {
	margin-top: -70px; }
.home-box-container,
.box-panel-containter {
	margin-left: 0;
	z-index: 2;
	position: relative; }
	.home-box {
		float: left;
		width: 33.33333%;
		height: 240px;
		padding: 25px 30px 30px;
		list-style-type: none; }
	.home-box.block {
		width: 100%;
		height: auto; }
	.home-box.white,
	.box-panel.white {
		background: white; }
	.home-box.light-green,
	.box-panel.light-green,
	.light-green { 
		background: #A5C73E; }
	.home-box.green,
	.box-panel.green,
	.green { 
		background: #829e2d; }
	.home-box.dark,
	.box-panel.dark {
		background-color: #303030; }
	.box-panel.light{ 
		background-color: rgb(224, 224, 224); }
	.home-box .header-left {
		float: left;
		width: 185px; }
	.home-box .header-right {
		width: 58px; }
	.header-right {
		float: right; }
	.home-box .upcoming-classes {
		width: 227px;
		height: 141px;
		padding-top: 8px;
		overflow-y: hidden; }
	.home-box #upcoming-class-prev,
	.home-box #upcoming-class-next {
		float: left;
		width: 28px;
		height: 28px;
		border: 1px solid #eee; }
	.home-box #upcoming-class-next {
		margin-left: 2px; }
	.home-box #upcoming-class-next:hover {
		background-image: url(../img/icons/icon_arrow_right_white.png); }
	.home-box #upcoming-class-prev:hover {
		background-image: url(../img/icons/icon_arrow_left_white.png); }
	.home-box #upcoming-class-prev:hover,
	.home-box #upcoming-class-next:hover {
		background-color: #000;
		border-color: #000; }
		.home-box h2,
		.home-box h3 {
			margin: 0;
			line-height: 1; }
		.home-box h2 { 
			font-size: 24px; }
		.home-box h3 {
			font-family: 'Droid Serif';
			font-style: italic;
			color: #000;
			margin-top: 5px;
			font-size: 18px;}
		.home-box.white h2 {
			color: #A5C73E; }
		.home-box.light-green h2 a,
		.home-box.green h2 a,
		.home-box.dark h2 a,
		.home-box h2 {
			color: white; }
		.home-box.light-green h2 a:hover,
		.home-box.green h2 a:hover,
		.home-box.dark h2 a:hover {
			text-decoration: underline; }
		.home-box.dark h3 {
			color: #999; }

.home-box .news {
	margin-top: 20px; }
	.home-box .news .banner-icon,
	.banner-icon {
		float: left;
		margin-right: 20px;
		margin-top: 5px; }
	.banner-icon {
		width: 50px;
		height: 60px;
		background-position: center center;
		background-repeat: no-repeat; }
	.home-box .news .text {
		float: left;
		width: 190px;
		line-height: 150%;
		font-size: 12px;
		color: white; }
	.home-box .more {
		margin-top: 20px; }
	.banner-icon.icon-only {
		padding: 2.275rem;
		margin-right: 5px; }
	.banner-icon.icon-only:hover {
		background-color: #ccc;}
	.banner-icon.icon-only.active {
		background-color: #A5C73E; }


/* -------------------------- */
/* BOX PANEL                  */
.box-panel-container {
	margin-top:2rem;
	margin-left: auto;
	margin-right: auto; }
	.box-panel {
		float: left;
		width: 240px;
		height: 240px;
		padding: 25px 30px 30px;
		list-style-type: none;
		text-align: center;
		margin-top: 1rem;
		margin-right: 1.2rem;
		-webkit-transition: all 300ms ease-out;
		-moz-transition: all 300ms ease-out;
		transition: all 300ms ease-out; }
		.box-panel i {
			-webkit-animation-name: fadeInUp;
			-webkit-animation-duration: 2s;
			-moz-animation-name: fadeInUp;
			-moz-animation-duration: 2s;
			animation-name: fadeInUp;
			animation-duration: 2s; }
		.box-panel.last{
			margin-right: 0; }
		.box-panel.dark,
		.box-panel.green,
		.box-panel.light-green,
		a:hover > .box-panel.dark label,
		a:hover > .box-panel.green label,
		a:hover > .box-panel.light-green label {
			color: #FFFFFF; }
		.box-panel.light,
		a:hover > .box-panel.light label {
			color: #6B6A6A; }
		.box-panel i {
			font-size: 9rem;
			-webkit-transform:scale(1.1);
			-moz-transform:scale(1.1);
			-o-transform:scale(1.1);
			transform:scale(1.1);
			-webkit-transition: -webkit-transform 0.9s;
			-moz-transition: -moz-transform 0.9s;
			-o-transition: -o-transform 0.9s;
			transition: transform 0.9s; }
		.box-panel label {
			visibility: hidden;
			-webkit-transition: -webkit-transform 0.5s;
			-moz-transition: -moz-transform 0.5s;
			-o-transition: -o-transform 0.5s;
			transition: transform 0.5s;
			-webkit-transform: translateY(15px);
			-moz-transform: translateY(15px);
			-o-transform: translateY(15px);
			transform: translateY(15px); }
		a:hover > .box-panel i {
			-webkit-transform:scale(1);
			-moz-transform:scale(1);
			-o-transform:scale(1);
			transform:scale(1); }
		a:hover > .box-panel label {
			visibility: visible;
			-webkit-transform: translateY(-15px);
			-moz-transform: translateY(-15px);
			-o-transform: translateY(-15px);
			transform: translateY(-15px); }

.panel-click.dashed {
	background: white;
	padding: 107px 0;
	border-style: dashed;
	border-width: 2px;
	text-align: center; }
	.panel-click.dashed:hover {
		background: white; }
	.panel-click.dashed:hover h1 small {
		color: #B8B8B8; }
	.panel-click {
		background: #F9F9F9;
		border-color: #E6E6E6; }
	.panel-click:hover {
		background: #E1E1E1;
		-webkit-transition: all .2s ease-in-out; }
	.panel-click:hover hr {
		border-color: #BDBDBD; }
		.panel-click .panel-title {
			width: 100%;
			overflow: hidden !important;
			text-overflow: ellipsis;
			white-space: nowrap; }

.login-panel {
	margin-top: 13px; }
	.login-panel .more {
		margin-right: 0 !important;
		margin-top: 0 !important; }

/* -------------------------- */
/* BUTTONS                    */
.more {
	background-repeat: no-repeat;
	background-position:  center right;
	margin-right: 2px;
	padding: 5px 24px 6px 9px;
	float: right;
	color: #fff;
	font-size: 13px;
	line-height: normal; }
	.more.black,
	.more.light:hover {
		background-color: #000;
		border: 1px solid #000; }
	.more.light,
	.more.black:hover {
		background-color: #FFF;
		color: rgb(0, 0, 0);
		border-color: rgb(238, 238, 238); }
	.more.black:hover {
		background-image: url(../img/icons/icon_arrow_margin_right_black.png);
		color: #000; }
	.more.light:hover {
		background-image: url(../img/icons/icon_arrow_margin_right_white.png);
		color: #FFF; }

.more,
.categories li a,
.pagination li a,
.ui-tabs-nav li a,
.tabs-navigation li a,
.scrolling-list-control-left,
.scrolling-list-control-right {
	border: 1px solid #515151; }
.scrolling-list-control-left,
.scrolling-list-control-right {
	float: left;
	width: 28px;
	height: 28px; }
.scrolling-list-control-right {
	margin-left: 2px; }
	.more:hover,
	.categories li a:hover,
	.pagination li a:hover:not(.disabled),
	.pagination li.selected a,
	.ui-tabs-nav li a:hover,
	.ui-tabs-nav li.ui-tabs-selected a,
	.tabs-navigation li a:hover,
	.tabs-navigation li a.selected,
	.scrolling-list-control-left:hover,
	.scrolling-list-control-right:hover {
		color: white;
		border-color: #91b034; }

.pagination.light li a {
	border-color: transparent; }
.pagination.light li a:hover {
	border-color: #91b034;
	color: #999; }
.pagination.light li.selected a {
	border-color: #91b034;
	background: #91b034; }
.pagination.light li a.disabled {
	color: #DFDFDF; }
.pagination.light li:hover a.disabled {
	border-color: transparent;}
.pagination.light li.selected:hover a {
	color: white; }

.refined-search a {
	float: right;
	top: -12.2rem;
	right: 3rem; }

.btn-block{
	margin-bottom: 0;
	text-align: left; }
	.btn-block i {
		margin-left: 2rem;
		margin-right: 1rem;
		font-size: 20px;
		line-height: 1; }


/* -------------------------- */
/* TEXT EDITOR                */
.body {
	color: rgb(0, 0, 0);
	cursor: auto;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 18px;
	letter-spacing: normal;
	text-align: start;
	text-decoration: none;
	text-indent: 0px;
	text-rendering: auto;
	word-break: normal;
	word-wrap: break-word;
	word-spacing: 0px;
	background-color: rgb(255, 255, 255); }
#openpb{
	margin:15px; }
#controls iframe {
	width: 100%;
	height: 250px;
	border:2px solid #CCC;
	border-radius:5px;
	overflow:auto; 
	margin-bottom: 1rem;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }
#text {
	border-radius:5px;
	height: 250px;
	overflow:auto;
	display:none;
	padding-left: 10px; }

.btn-icon {
	padding: 3px 10px !important;
	min-width: 40px;
	height: 37px;
	background-color: #fafafa;
	color: #666;
	border-color: #ddd;
	border-bottom-color: #ddd;
	border-radius: 3px;
	border: 1px solid transparent;
	box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.09);
	transition: box-shadow 0.3s ease-in-out;
	-webkit-transition: box-shadow 0.3s ease-in-out; }
	.btn-icon:hover, .btn-icon:focus {
		background: rgba(0, 0, 0, 0.09);
		color: #666; }
	.btn-icon.selected {
		box-shadow: inset 0px -35px 0px 0px rgba(0, 0, 0, 0.09); }


/* -------------------------- */
/* PAGE                       */
.column-container {
	margin-top: 0px; }
.column-container p {
	font-size: 13px;
	line-height: 150%;
	margin: 0;
	clear: both;
	padding: 25px 0px; }
	.column-left {
		float: left;
		margin-right: 30px; }
	.column-right {
		float: right; }
	.column-left,
	.column-right {
		width: 235px; }
	.column-margin-top {
		margin-top: 37px; }
	.column-container.full-width .column-left {
		width: 450px; }
	.column-container.full-width .column-right {
		width: 480px;
		float: left; }

.page-header-left {
	float: left;
	width: 670px; }
	.page-margin-top {
		margin-top: 30px; }
	.page-header-left h1 {
		font-size: 48px; }
	.page-header-left h4 {
		font-size: 16px;
		font-style: italic;
		font-family: 'Droid Serif'; }
	.page-header-left h1,
	.page-header-left h4 {
		margin:0; }
	.page-header-left h1 {
		color: #91b034; }
	.page-header-left h4 {
		color: white; }
	.page-layout {
		margin-top: 25px;
		margin-bottom: 25px; }
	.page-left {
		padding-right: 15px;
		float: left;
		width: 66.66666%; }
	.page-right {
		float: right;
		width: 33.33333%; }
	.box-header {
		color: white;
		margin: 0;
		padding-bottom: 10px;
		border-bottom: 1px solid #91b034; }
	.info-white, .info-green {
		font-family: 'Droid Serif';
		font-style: italic;
		float: left;
		clear: both;
		line-height: 1; }
	.info-white { 
		margin-bottom: 0px;
		color: white; }
	.info-green {
		margin-top: 5px;
		color: #A5C73E; }

.column-pull-left {
	padding-left:0; }
.column-no-padding{
	padding:0; }
.column-no-margin {
	margin: 0; }
.column-no-top-margin{
	margin-top: 0; }
.column-no-left-margin{
	margin-left: 0; }
.column-no-bottom-margin{
	margin-bottom: 0; }


/* -------------------------- */
/* LIST                       */
.post-footer {
	margin-top: 25px; }

.opening-hours {
	clear: both;
	padding-top: 8px;
	margin-top: 30px; }

.item-list.margin-top {
	margin-top: 8px;}
	.list-items li,
	.item-list li {
		padding: 10px 0 10px 25px;
		background-position: left center;
		background-repeat: no-repeat;
		border-bottom: 1px solid; }
	.list-items li {
		margin-right: 38px;
		border-color: #eee; }
	.item-list li {
		float: left;
		width: 100%;
		font-size: 13px;
		color: #000;
		border-color: rgba(196, 228, 92, 1);}
	.list-items.gray li,
	.item-list.gray li,
	.item-list.dark li {
		border-color: #515151; }
	.item-list.green li {
		border-color: #94B828; }
	.item-list.light-green li {
		border-color: #C4E45C; }
	.items-list.dark li {
		border-color: rgb(53, 53, 53); }
	.opening-hours li { 
		font-size: 13px;
		line-height: 18px; }
	.items-list.upcoming-classes li a,
	.items-list.upcoming-classes span,
	.items-list.upcoming-classes .value,
	.item-list.light-green a,
	.item-list.light-green span,
	.item-list.light-green .value
	.item-list.green a,
	.item-list.green span,
	.item-list.green .value {
		color: #000; }
	.item-list.gray a,
	.item-list.gray span,
	.item-list.gray .value,
	.item-list.dark a,
	.item-list.dark span,
	.item-list.dark .value {
		color: #C5C5C5; }

div.value {
	text-align: right;
	float: right; }

.item-content a.thumb-image {
	float: left;
	margin-right: 20px; }
.item-content .text {
	float: right;
	width: 233px; }
.item-footer {
	margin-top: 20px;
	line-height: 1; }

.categories,
.contact-data,
.gallery-isotope,
.isotope,
.item-list,
.items-list,
.list,
.list-items,
.nav-pills
.opening-hours,
.post,
.pricing-plan,
.tabs-navigation,
.ui-tabs-nav {
	list-style: none outside none;
	margin-left: 0; }

.categories li.posted-by {
	background: url(../img/icons/icon_post_author.png) no-repeat 10px center;
	padding: 8px 9px 8px 25px;
	border: 1px solid #515151; }
.categories li {
	float: left;
	font-size: 11px;
	color: #999;
	margin-right: 2px;
	margin-bottom: 2px;
	line-height: 1;
	width: auto; }
	.categories li a {
		display: block;
		float: none;
		color: #999;
		font-size: 11px;
		padding: 8px 9px; }
	.categories.light li a {
		color: #222222; }
	.categories li.posted-by .author {
		display: inline;
		color: #FFF;
		border: none;
		padding: 0; }
	.categories.light li.posted-by .author {
		color: #222222; }
	.categories li.posted-by .author:hover {
		text-decoration: underline; }

.ui-tabs-nav {
	float: left;
	width: 80px;}
	.ui-tabs-nav li {
		margin-bottom: 2px; }
		.ui-tabs-nav li a {
			display: block;
			font-size: 13px;
			width: 78px;
			text-align: center;
			padding: 5px 0px;
			color: rgb(153, 153, 153);}

.ui-tabs-panel{
	float: right;
	width: 500px; }
	.ui-tabs-panel h2 {
		font-size: 24px;
		color: #FFF;
		margin-top: 15px; }
	.ui-tabs-panel p {
		padding: 24px 0px 25px;
		font-size: 13px;
		line-height: 150%;
		margin: 0px; }
	.sentence {
		margin-top: 15px;
		padding: 0;
		color: #829E2D;
		font-size: 16px;
		font-style: italic;
		font-family: 'Droid Serif'; }

#progressbox,
.ui-tabs-hide {
	display: none; }

.list {
	clear: both;
	padding: 25px 0px;
	font-size: 100%; }
	.list li {
		padding-left: 18px;
		background-position: left center;
		font-size: 13px; }
	.training-classes .list.trainers li {
		margin-top: 20px; }
	.list.top-marker li {
		background-position: left 8px; }
	.training-classes .list.trainers li:first-child {
		margin-top: 0px; }
	.list.feature { 
		padding: 15px 0px; }

.items-list li {
	width: 100%;
	float: left;
	padding: 12px 0 12px 25px;
	background-position: left center;
	background-repeat: no-repeat;
	border-bottom: 1px solid #eee;
	font-size: 12px; }
	.items-list a,
	.items-list span {
		float: left; }


/* -------------------------- */
/* TABS                       */
.tabs {
	*zoom: 1;
	margin-bottom: 0 !important; }
.tabs:before,
.tabs:after {
	content: " ";
	display: table; }
.tabs:after {
	clear: both; }
	.tabs dd {
		position: relative;
		margin-bottom: 0 !important;
		top: 1px;
		float: left; }
		.tabs dd > a {
			display: block;
			background: white;
			color: #222222;
			padding-top: 1rem;
			padding-right: 2rem;
			padding-bottom: 1.0625rem;
			padding-left: 2rem;
			font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
			font-size: 1rem; }
		.tabs dd > a:hover {
			background: none;
			border-bottom: none;
			color:  #91b034;}
		.tabs dd.active a {
			background: white;
			border-bottom: 3px solid #91b034; }
		.tabs dd.active a:hover {
			color: #222222; }

.tabs-content {
	*zoom: 1;
	margin-bottom: 1.5rem;
	width: 100%; }
	.tabs-content:before,
	.tabs-content:after {
		content: " ";
		display: table; }
	.tabs-content:after {
		clear: both; }
		.tabs-content > .content {
			display: none;
			float: left;
			padding: 0.9375em 0;
			width: 100%; }
		.tabs-content > .content.active {
			border-top: 1px solid #c5c5c5;
			background: white;
			display: block;
			margin-top: -1px; }
		.tabs-content > .content.contained {
			padding: 0.9375em; }
		.tabs-content.vertical {
			display: block; }
		.tabs-content.vertical > .content {
			padding: 0 0.9375em; }


/* -------------------------- */
/* NEWS                       */
.show-all {
	border-top: 1px solid #515151;
	margin-top: 30px;
	margin-right: 15px; }
	.show-all .more { 
		margin-top: -1px; margin-right: -1px; }

.blog-logo {
	font-size: 9rem;
	color: #3F3F3F;
	text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
	cursor: pointer; }
.blog-logo:hover {
	color: #91b034; }

.blog {
	margin-left: 0px;
	margin-bottom: 0;
	clear: both; }
.post {
	float: left;
	margin-top: 30px;
	margin-bottom: 30px; }
	.post-content {
		font-size: 13px;
		float: left;
		width: 520px; }
		.post-content .controls.single,
		.comment-details .controls.single {
			right: 14px;
			margin-top: 0; }
		.post-content a.post-image {
			display: block;
			margin-bottom: 27px; }
		.post-content a.post-image img {
			display: block;
			width: 500px;
			height: auto;
			background: url(../img/preloader.gif) no-repeat center center; }
		.post-content h2 {
			margin-bottom: 24px;
			font-size: 24px; }
			.post-content h2 a {
				color: #FFF; }
			.post-content h2 a:hover {
				text-decoration: underline; }
		.post-content .text,
		.post-content .text > p,
		.post-content .text > div > p {
			line-height: 150%;
			font-size: 12px;
			color: #c5c5c5; }
		.post-content.light .text,
		.post-content.light .text > p,
		.post-content.light .text > div > p {
			color: #4B4B4B; }

.post-content.small {
	width: 100%;
	float: left; }
	.post-content.small a.post-image img {
		width: 100%; }

.comment-box {
	float: left;
	width: 80px;
	color: white;
	margin-right: 30px;
	text-align: center; }
	.comment-box .first-row {
		background-color: #829e2d;
		padding: 22px 0 21px;
		font-size: 22px;
		text-align: center;
		line-height: 1;}
	.comment-box .second-row {
		display: block;
		text-transform: uppercase;
		margin-top: 4px;
		font-size: 12px; }
	.comment-box .second-row.small {
		text-transform: capitalize;
		font-size: 11px; }
		.comment-box .comments-number {
			display: block;
			text-align: center;
			font-size: 11px;
			border-bottom: 1px solid #515151;
			padding: 8px 0 9px;
			color: #fff; }
		.comment-box .comments-number:hover {
			border-bottom-color: #829e2d; }

#comments-list {
	float: left;
	margin-bottom: 2rem; }
	#comments-list ul {
		list-style-type: none; }
		#comments-list li.comment {
			width: 500px;
			margin-top: 35px; }
		#comments-list li.comment:first-child {
			margin-top: 0; }
			#comments-list .comment-author-avatar {
				float: left;
				width: 78px;
				height: 78px;
				margin-right: 20px;
				border: 1px solid #515151; }
			#comments-list .comment-details {
				float: left;
				width: 400px; }
			#comments-list.small .comment-details {
				width: 360px; }
			#comments-list .comment-details .posted-by {
				background: url('../img/icons/icon_post_author.png') no-repeat left center;
				font-size: 11px;
				color: #999;
				padding-left: 15px;
				line-height: 140%; }
			#comments-list .comment-details .posted-by a {
				color: #fff; }
			#comments-list.small .comment-details .posted-by a,
			#comments-list.light .comment-details .posted-by a {
				color: #292929; }
			#comments-list .comment-details p {
				color: #C5C5C5;
				font-size: 12px;
				line-height: 150%;
				padding: 20px 0;
				margin-bottom: 0; }
			#comments-list.small .comment-details p,
			#comments-list.light .comment-details p {
				color: #8D8D8D; }
			#comments-list .reply-button {
				float: left;
				clear: both;
				padding-right: 18px;
				background-position: center right 5px;
				color: #fff;
				font-size: 13px; }
			#comments-list .pagination {
				margin-top: 20px; }

.comment-box.small {
	width: 100%; }
	.comment-box.small .first-row,
	.comment-box.small .comments-number {
		width: 94px; }
	.comment-box.small .first-row {
		float: left;
		padding: 8px 10px;
		margin-bottom: 1rem;
		font-size: 11px; }
	.comment-box.small .comments-number {
		float: right;
		padding: 9px 0 6px; }
	.comment-box.small .second-row {
		display: inline;
		margin-top: 0;
		margin-left: 2px;
		font-size: 11px; }

.blog.small li:first-child,
.blog.light li:first-child {
	margin-top: 0; }
	.comment-box.small .comments-number ,
	.comment-box.light .comments-number {
		color: #515151; }

	.post-content.small {
		width: 100%;
		float: left; }
	.post-content.small h2 a,
	.post-content.light h2 a {
		color: #515151; }
	.post-content.small a.post-image img {
		width: 100%; }
	.post-content.small .text,
	.post-content.light .text,
	.post-content.light .text > div > p {
		color: #4B4B4B; }

	.post-tag-edit,
	.post-tag-edit input {
	margin: 0 !important;
	height: 20px !important;
	width: 130px !important;
	outline: 0;
	border-color: transparent; }


/* -------------------------- */
/* PAGINATION                 */
.pagination {
	float: right;
	list-style-type: none; }
	.pagination li {
		float: left;
		margin-left: 2px; }
	.pagination li:first-child {
		margin-left: 0; }
		.pagination li a {
			height: 12px;
			padding: 9px 11px 7px;
			color: #999;
			font-size: 11px; }


/* -------------------------- */
/* SIDE-ACCORDION-SMALL       */
.accordion-gym-fitness,
.accordion-acc-nav { 
	margin-top: 0px; }
	.accordion-gym-fitness dd > a,
	.accordion-acc-nav dd > a{
		padding-left: 0;
		padding-top: 10px;
		padding-bottom: 15px;
		background: none;
		background: url('../img/icons/icon_accordion_arrow_down.png') no-repeat right center;
		border-bottom: 1px solid #353535; }
	.accordion-gym-fitness h3,
	.accordion-gym-fitness h5,
	.accordion-acc-nav h3,
	.accordion-acc-nav h5 {
		margin-bottom: 0px;
		margin-top: 0px;
		color: #9D9D9D; }
	.accordion-acc-nav h4 {
		font-size: 16px; }
	.accordion-gym-fitness h5,
	.accordion-acc-nav h5 {
		color: #999;
		font-family: 'Droid Serif';
		font-style: italic;
		font-size: 13px; }
	.accordion-gym-fitness .accordion-navigation > a,
	.accordion dd > a {
		background: transparent;
		padding-left: 0rem;
		padding-right: 0rem; }
	.accordion-gym-fitness dd:first-child,
	.accordion-acc-nav dd:first-child {
		padding-top: 0px; }
	.accordion-gym-fitness .content,
	.accordion-acc-nav .content {
		color: #c5c5c5;
		font-size: 12px;
		padding-left: 0 !important;
		padding-right: 0 !important; }
	.accordion-gym-fitness h5 {
		color: #999; }
	.accordion-gym-fitness .accordion-navigation > .content.active,
	.accordion dd > .content.active,
	.accordion-acc-nav .content.active {
		background: none;
		padding-left: 0;
		padding-right: 0; }
	.accordion-gym-fitness img {
		margin-right: 10px;	}
	.item-footer .more a {
		display: inline; }
	.accordion-gym-fitness .accordion-navigation > a:hover,
	.accordion-acc-nav dd > a:hover {
		background: none;
		border-bottom: 1px solid #91b034;
		background: url('../img/icons/icon_accordion_arrow_down.png') no-repeat right center; }
	.accordion-gym-fitness dd:hover > a h3,
	.accordion-gym-fitness dd.active > a h3,
	.accordion-gym-fitness dd.active:hover > a h3{
		color: #FFFFFF; }
	.accordion-gym-fitness .accordion-navigation.active > a,
	.accordion-acc-nav dd.active > a,
	.accordion-acc-nav dd > a.active {
		color:#829e2d;
		border-bottom: 2px solid #91b034;
		background: url('../img/icons/icon_accordion_arrow_up.png') no-repeat right center; }

	.accordion-acc-nav .content a {
		display: block;
		color: rgba(125, 125, 125, 1);
		padding: 10px 0;
		border-bottom: 1px solid rgb(35, 35, 35);
		border-top: 1px solid rgb(15, 14, 14); }
	.accordion-acc-nav .content a:first-child {
		border-top:none; }
	.accordion-acc-nav .content a.active-link {
		color: #91b034; }
	.accordion-acc-nav .content a.active-link:hover{
		color: #91b034; }
	.accordion-acc-nav .content a:hover {
		color: white; }
		.accordion-acc-nav .content a i {
			margin-right: 10px;
			font-size: 18px;
			line-height: 14px; }
		.accordion-acc-nav .content a > span.badge{
			float: right;
			background-color: #779227;
			border-radius: 3px;
			padding: 1px 4px 2px;
			font-size: 11.844px;
			line-height: 14px;
			color: #ffffff;
			vertical-align: baseline;
			white-space: nowrap;
			text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }


/* -------------------------- */
/* FOOTER                     */
.footer-container {
	width: 100%;
	padding: 30px 4em 1em 4em;
	bottom: 0;
	clear: both;
	background: #303030;}
	.footer {
		width: 960px;
		margin-left: auto;
		margin-right: auto; }
		.footer-box-container {
			padding-top: 30px; }
		.footer-box {
			margin-bottom: 17px;
			float: left;
			display: inline-block;
			width: 33.33333%; }
	.footer-box .box-header {
		color: white;
		float: left;
		padding-bottom: 10px;
		font-size: 18px;
		border-bottom: 1px solid #91b034; }
	.footer-box .box-header.margin {
		margin-top: 27px; }
	.footer-contact-info-container {
		margin-top: 30px;
		margin-left: 0px;
		padding-top: 30px; }
	.footer-contact-info-row {
		font-size: 13px;
		line-height: 18px;
		list-style-type: none;
		clear: both;
		color: #C5C5C5;
		padding-top: 5px; }
	.footer-contact-info-row:first-child {
		padding-top: 0; }
	.footer-contact-info-left {
		float: left;
		width: 150px; }
	.footer-contact-info-right {
		float: right;
		width: 150px; }

.footer-social-icons {
	list-style-type: none;
	margin-left: 0px;
	margin-top: 45px; }
	.footer-social-icons li:first-child {
		margin-left: 0; }
	.footer-social-icons li {
		float: left;
		margin-left: 10px; }
		.social-icon {
			display: block;
			width: 30px;
			height: 30px;
			background-repeat: no-repeat; }

.copyright-area {
	list-style-type: none;
	clear: both;
	border-top: 1px solid #515151;
	padding: 15px 0;
	font-size: 11px;
	color: #C5C5C5; }


/* -------------------------- */
/* DIALOG BOX                 */
.dialog-box .dialog-header {
	box-shadow: 0px 10px 26px -14px #888888;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	font-weight: bold;}
.dialog-box .dialog-footer {
	padding-top: 0;
	margin-top: 1rem;
	margin-bottom: -28px; }


/* -------------------------- */
/* TABLES                     */
.t-head-x-small {
	width: 30px; }
.t-head-small {
	width: 100px; }
.t-head-medium {
	width: 150px; }
.t-head-large {
	width: 200px; }

.table-result {
	border:none;
	width: 100%;
	border-spacing: 0;}
	.table-result thead {
		background: none; }
		.table-result thead > th {
			text-transform: uppercase; }
			.table-result thead th a {
				color: #A8A8A8;
				text-transform: capitalize;
				font-weight: normal; }
				.table-result tr.even,
				.table-result tr.alt,
				.table-result tr:nth-of-type(even) {
					background: #FFFFFF; }
			.table-result thead th,
			.table-result tr td {
				border-bottom: 1px solid #E6E6E6;
				color: #303030; }
			.table-result tr:last-child td {
				border-bottom: none;}
			.table-result tr td.date-right {
				text-align: right;
				font-size: 12px;
				color: #A5A5A5; }
			.table-result .action-btn a i {
				color: transparent;
				font-size: 15px;
				margin: 0 1rem 0 0;
				float: left;
				-webkit-transition: all 200ms ease-out;
				-moz-transition: all 200ms ease-out;
				transition: all 200ms ease-out; }
			.table-result .date,
			.table-result .status,
			.table-result tr td.action-btn {
				text-align: center; }
			.table-result.fit-content {
				width: auto; }
			.table-result thead > th,
			.table-result thead th a:hover,
			.table-result tr td.action-btn a:hover i {
				color: #222222; }
			.table-result tr.active td {
				background: #F3F3F3; }
			.table-result tr:hover td {
				background: #f6f6f6; }
			.table-result tr:hover td.action-btn a i {
				color: #C7C7C7;
				background: #f6f6f6;
				-webkit-animation-name: slideInRightSmall;
				-webkit-animation-duration: 0.5s;
				-moz-animation-name: slideInRightSmall;
				-moz-animation-duration: 0.5s;
				animation-name: slideInRightSmall;
				animation-duration: 0.5s; }

/* -------------------------- */
/* MODAL                      */
.reveal-modal.black h1,
.reveal-modal.black h2,
.reveal-modal.black h3,
.reveal-modal.black h4,
.reveal-modal.black h5 {
	color: #222; }
.reveal-modal.black{
	color: rgb(123, 123, 123); }
.reveal-modal.black .close-reveal-modal.small {
	font-size: 1rem; }

.checkStatus input[type=checkbox] {
	visibility: hidden; }
.checkStatus {
	width: 99px;
	height: 37px;
	background: #333;
	margin: -10px 0px 10px;
	border-radius: 50px;
	position: relative; }
.checkStatus:before {
	content: 'YES';
	position: absolute;
	top: 12px;
	left: 13px;
	height: 2px;
	color: #91b034;
	font-size: 13px; }
.checkStatus:after {
	content: 'NO';
	position: absolute;
	top: 12px;
	left: 62px;
	height: 2px;
	color: #777;
	font-size: 13px; }
.checkStatus label {
	display: block;
	width: 42px;
	height: 20px;
	border-radius: 50px;
	margin-left: 0rem !important;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 9px;
	z-index: 1;
	left: 10px;
	background: #ddd; }
.checkStatus input[type=checkbox]:checked + label {
	left: 47px;
	background: #91b034; }


/* -------------------------- */
/* IMAGE SPRITES              */
.social-icon.facebook { background: url(../img/social/social_icon_facebook.png); }
.social-icon.twitter { background: url(../img/social/social_icon_twitter.png); }
.social-icon.google { background: url(../img/social/social_icon_googleplus.png); }
.social-icon.skype { background: url(../img/social/social_icon_skype.png); }
.social-icon.facebook:hover,
.social-icon.twitter:hover,
.social-icon.google:hover,
.social-icon.skype:hover {
	background-position: 0 -30px; }

.more.icon-small-arrow {
	background-position: right center;
	background-repeat: no-repeat; }
.icon-small-arrow {
	background-position: center center;
	background-repeat: no-repeat; }

.icon-small-arrow.left-black { background-image: url(../img/icons/icon_arrow_left_black.png); }
.icon-small-arrow.right-black { background-image: url(../img/icons/icon_arrow_right_black.png); }
.icon-small-arrow.left-white { background-image: url(../img/icons/icon_arrow_left_white.png); }
.icon-small-arrow.right-white { background-image: url(../img/icons/icon_arrow_right_white.png); }
.icon-small-arrow.margin-right-black { background-image: url(../img/icons/icon_arrow_margin_right_black.png) ; }
.icon-small-arrow.margin-right-white { background-image: url(../img/icons/icon_arrow_margin_right_white.png) ; }

.icon-small-arrow.top-white { background-image: url(../img/icons/icon_arrow_top_white.png); }
.icon-clock-green { background-image: url(../img/icons/icon_clock_green.png); }
.icon-clock-black { background-image: url(../img/icons/icon_clock_black.png); }
.icon-card-green { background-image: url(../img/icons/icon_card_green.png); }
.icon-card-white { background-image: url(../img/icons/icon_card_white.png); }

.banner-icon.note { background-image: url(../img/icons/banner_icon_note.png); }
.banner-icon.calendar { background-image: url(../img/icons/banner_icon_calendar.png); }
.banner-icon.phone { background-image: url(../img/icons/banner_icon_phone.png); }
.banner-icon.hand { background-image: url(../img/icons/banner_icon_hand.png); }