@CHARSET "UTF-8";

/* -------------------------- */
/* PAGE                       */
.content {
	padding-bottom: 1rem;
}

.column-container {
	margin-top: 0px;
}

.column-container p {
	font-size: 13px;
	line-height: 150%;
	margin: 0;
	clear: both;
	padding: 25px 0px;
}

.column-left {
	float: left;
	margin-right: 30px;
}

.column-right {
	float: right;
}

.column-left,
.column-right {
	width: 235px;
}

.column-margin-top {
	margin-top: 37px;
}

.column-container.full-width .column-left {
	width: 450px;
}

.column-container.full-width .column-right {
	width: 480px;
	float: left;
}

.page-header-left {
	float: left;
	width: 670px;
}

.page-margin-top {
	margin-top: 30px;
}

.page-header-left h1 {
	font-size: 48px;
	text-transform: uppercase;
}

.page-header-left h4 {
	font-size: 16px;
	font-style: italic;
	font-family: 'Droid Serif';
}

.page-header-left h1,
.page-header-left h4 {
	margin: 0;
}

.page-header-left h1 {
	color: #91b034;
}

.page-header-left h4 {
	color: white;
}

.page-layout {
	margin-top: 25px;
	margin-bottom: 25px;
}

.page-left {
	padding-right: 15px;
	float: left;
	width: 66.66666%;
}

.page-right {
	float: right;
	width: 33.33333%;
}

.box-header {
	color: white;
	margin: 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #91b034;
}

.info-white, .info-green {
	font-family: 'Droid Serif';
	font-style: italic;
	float: left;
	clear: both;
	line-height: 1;
}

.info-white {
	margin-bottom: 0px;
	color: white;
}

.info-green {
	margin-top: 5px;
	color: #A5C73E;
}

.column-pull-left {
	padding-left: 0;
}

.column-no-padding {
	padding: 0;
}

.column-no-margin {
	margin: 0;
}

.column-no-top-margin {
	margin-top: 0;
}

.column-no-left-margin {
	margin-left: 0;
}

.column-no-bottom-margin {
	margin-bottom: 0;
}