@CHARSET "UTF-8";

/* -------------------------- */
/* TOPBAR                     */

.top-bar-container,
.top-bar {
	height: 137px;
	line-height: 137px;
	background: #000000;
}

.top-bar.expanded {
	z-index: 100;
}

.top-bar-section ul.right {
	font-size: 16px;
	margin-top: 92px;
}

.top-bar-section ul li {
	background: #000000;
}
	.top-bar-section ul li > a {
		text-transform: uppercase;
		color: #C5C5C5;
		padding-right: 15px;
	}
.top-bar-section ul li.active {
	border-bottom: 2px solid #91b034;
}

.top-bar .toggle-topbar.menu-icon a {
	color: #7d972d;
}

.top-bar .toggle-topbar.menu-icon a::after {
	content: "";
	position: absolute;
	right: 0;
	display: block;
	width: 16px;
	top: 0;
	height: 0;
	box-shadow: 0 10px 0 1px #7d972d, 0 16px 0 1px #7d972d, 0 22px 0 1px #7d972d;
}

.top-bar .toggle-topbar.menu-icon {
	right: 15px;
	top: 50%;
	margin-top: -16px;
	padding-left: 40px;
}